<!DOCTYPE html>
<html>
  <form method="POST" action="/favoriteanimal">
    <p> Youe Name: <input type="text" name="name"></p>
    <p> Your Favorite Animal: <input type="text" name="favoriteanimal"></p>
    <input type="submit">
  </form>
</html>