<!DOCTYPE html>
<html>
  <head>
   <link rel="stylesheet" href="css/style.css"> 
  </head>
  <body>
  
  <div class= "title">
    <h1>ALL ABOUT CEORA</h1>
    <p> by Kathleen Eife</p>
  </div>
  <div class = "information">
    
    <li>Lives in Philadelphia</li> 
    <a href = "https://www.visitphilly.com/"> <img src = "http://media.pennlive.com/patriot-news/photo/2018/02/13/love-sculpture-returns-to-philadelphia-ecc6ed300fb766a2.jpg" class = "center" alt = "love sign"> </a>
      <li>Loves music (especially on soundcloud), movies, and drawing :)</li>
      <li>Favorite movie: <u>Hidden Figures!!</u></li>
      <li>Wants to visit Paris, France</li><br>
    <a href = "https://en.parisinfo.com/"><img src = "https://upload.wikimedia.org/wikipedia/commons/8/85/Tour_Eiffel_Wikimedia_Commons_%28cropped%29.jpg" alt = "eiffel tower"></a> 
      <li>Has three sisters!</li>
      <li>Loves to shop on amazon and at Barnes & Noble</li>
      <li>Favorite food: lasagna and Grandmom's spaghetti casserole!</li><br>
    <img src= "https://goo.gl/images/xk8XCk" alt = "lasagna">
    </ul>
    </div> 
    <div class="footer">
    </div> 
  </body>
</html>